@charset "utf-8";

/* menu */
.ul_menu {
	padding: 0;
	list-style: none;
	display: inline-block;
}
.ul_menu li {
	float: left;
	margin-right: 15px;
}

/* user page */
.ul_user {
	list-style: none;
	padding: 0;
}
.ul_user span {
	width: 200px;
	display: inline-block;
}