/*
 * GridFilters Styles
 */

.ux-filtered-column {
    font-style: italic;
    font-weight: bold;
}

.ux-gridfilter-text-icon {
    background-image: url(../images/find.png) !important;
}

.x-livesearch-match {
    font-weight: bold;
    background-color: yellow;
}

.x-toolbar .x-form-cb-wrap {
    line-height: 22px;
}
.x-toolbar .x-form-checkbox {
    vertical-align: 0;
}
